.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.icons, .title-ease {
    color: #DAFF01;
}

.btn-primary {
    background-color: #9353FF;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}
